{{>header}}

    <h2>Gestionar Curso {{nomCurso}}</h2>

    <p>
      Si desea cerrar el curso, seleccione la siguiente opci贸n:
    </p>

    <form action="/cerrarCurso" method="post">
    	<input type="hidden" name="nomCurso" value={{nomCurso}}>
    	<input type="hidden" name="idCurso" value={{idCurso}}>
	 	<button>Cerrar Curso</button>
	</form>

	<p>
      A continuaci贸n se presenta la lista de estudiantes inscritos al curso {{nomCurso}}. Si desea anular la inscripci贸n de alguno, seleccione la opci贸n Eliminar:
    </p>
	
  {{{listarInscritos idCurso}}}


{{>footer}}